@font-face { 
    font-family: "GenSen"; 
    src: url(gensen.ttc); 
}
* {
  font-family: "GenSen";
  text-align: center;
}
div#title {
  position: relative; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  backdrop-filter: blur(4px);
  background-image: url("https://media.discordapp.net/attachments/973799815840407552/981092878749147196/unknown.png?width=1251&height=674");
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
  cursor: pointer;
}
div#content {
  font-size: 25px
}
code {
  background-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
}